@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes appear {
    0% {
      transform: translate(-200%, 0);
    }
    100% {
      transform: translate(0%, 0);
    }
}

@keyframes disappear {
    0% {
      transform: translate(0%, 0);
    }
    100% {
      transform: translate(-200%, 0);
      opacity: 0; 
    }
}
  
.appear {
  animation: appear 0.8s ease-in-out forwards; 
}

.disappear {
  animation: disappear 0.8s ease-in-out forwards; 
}
  

::selection {
  background-color:  #A3A5B6;
  color: #BCDEE7;
}
